/* Add a horizontal rule above all level 2 headers */
h2 {
    position: relative;
    margin-top: 40px; /* Space above the header */
    padding-top: 10px;
}

h2::before {
    content: "";
    display: block;
    width: 90%;
    border-top: 1px solid #e8e8e8; /* Horizontal rule */
    margin-bottom: 10px; /* Space between rule and header */
}


/* Style the horizontal rule, this may not be needed if we are using the h2 horizontal rule defined above */
hr {
    border: none;         /* Remove default border */
    height: 1px;          /* Set thickness */
    background-color: #e8e8e8; /* Change color */
    margin: 20px 0;       /* Adjust spacing */
    width: 90%;           /* Set width */
    border-radius: 1px;   /* Optional: Rounded edges */
}
